<head>
    <title>No Trump</title>
    <!--
Conquer Template
http://www.templatemo.com/tm-476-conquer
-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="single-page-nav sticky-wrapper" id="tmNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#section1">Home</a></li>
                    <li><a href="#section2">Why go against Trump?</a></li>
                    <li><a href="#section3">Facts</a></li>
                    <li><a href="#section4">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="section1">
        <header id="header-area" class="intro-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="header-content">
                            <h1>No Trump</h1>
                            <h4>Keep America Great again without The Trump</h4>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div id="section2">
        <!-- Start Feature Area -->
        <section id="feature-area" class="about-section">
            <div class="container">
                <div class="row text-center inner">
                    <div class="col-sm-4">
                        <div class="feature-content">
                            <h2 class="feature-content-title green-text">Trump is against his mother</h2>
                            <p class="feature-content-description">Trump has taken the strongest and most talked about stand on the issue of illegal immigration in the presidential race so far. His mother, Mary Anne MacLeod, was a Scottish immigrant, while his paternal grandparents immigrated from Germany.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-content">
                            <h2 class="feature-content-title blue-text">Banning all Muslims</h2>
                            <p class="feature-content-description">Republican presidential front-runner Donald Trump called for banning all Muslims from entering the United States. "Donald J. Trump is calling for a total and complete shutdown of Muslims entering the United States until our country's representatives can figure out what is going on," said a campaign press release.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-content">
                            <h2 class="feature-content-title red-text">Cut Department of Education and Common Core</h2>
                            <p class="feature-content-description">
                                Trump is going to cut Department of Education and Common Core. Trump has stated "We're going to be cutting tremendous amounts of money and waste and fraud and abuse." said Trump. But not all of the department of education is bad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Feature Area -->

        <!-- Start Blog Area -->
        <section id="blog-area">
            <div class="container">
                <div class="row text-center inner">
                    <div class="col-sm-6">
                        <div class="blog-content">
                            <h2>Ending World Peace?</h2>
                            <p>By ending world peace, one should believe that he will cause chaos to the world. He will do this by deporting all illegal mexicans back to Mexico and this will chaos outrage. He will force the U.S to be enemies with China.He plans on banning all Muslims from the country. He will feel superior and start war. N. Korea and Isis, are threats to the U.S as well and one should again believe he will result into bigger issues with what we have at the moment.</p>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="blog-content">
                            <h2>Against Mexicans and Chinese</h2>
                            <p>Trump promises to build a wall on the border between Mexico and the U.S to prevent any more mexicans to come to the U.S illegaly. He also said that he will make Mexico pay for the wall. He believes that when Mexicans come to the U.S illegaly, Mexico are sending their bad people. For China, Trump believes that China is “one of the greatest thefts in the history of the world". By this he says that China is using the U.S as profit to make them more wealthy and also paints China to be the U.S's enemy because its buying oil from Iran and Iran is our enemy. </p>
                            <p id="blofr"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->
    </div>
    <div id="section3">
        <!-- Start Services Area -->
        <section id="services-area" class="services-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center inner our-service">
                        <div class="service">
                            <h1>Trump Facts</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Area -->

        <!-- Start Testimornial Area -->
        <section id="testimornial-area">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="testimonial-content">
                            <h7> Donald Trump was born on June 14, 1946) is an American businessman, politician, television personality, author, and the presumptive nominee of the Republican Party for President of the United States in the 2016 election.</h7>
                            <br>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="testimonial-content">
                            <h7>He is chairman of The Trump Organization, which is the principal holding company for his real estate ventures and other business interests.</h7>
                            <p id="redd"></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="testimonial-content">
                            <h7> Is one of the world's wealthiest people, Trump and his businesses, as well as his three marriages, have received prominent media exposure.</h7>
                            <br>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="testimonial-content">
                            <h7>Trump became known for supporting measures to reduce illegal immigration, for opposing various free-trade agreements that he regards as unfair, for his frequently non-interventionist views on foreign policy, and for his idea to temporarily ban most foreign Muslims from entering the United States.</h7>
                            <p id="dets"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tm-box">
                            <div class="tm-box-description">
                                <h2>...</h2>
                                <img src="http://www.thegatewaypundit.com/wp-content/uploads/dump-trump-crowd.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimornial Area -->
    </div>
    <div id="section4">
        <!-- Start Contact Area -->
        <section id="contact-area" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center inner">
                        <div class="contact-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1> Contact Us</h1>
                                    <p> 2925 E Sierra Madre Blvd, Pasadena, CA 91107</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#" method="post" class="contact-form">
                            <div class="col-sm-6 contact-form-left">
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                                    <input type="email" name="email" class="form-control" id="mail" placeholder="Email">
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-sm-6 contact-form-right">
                                <div class="form-group">
                                    <textarea name="message" rows="6" class="form-control" id="comment" placeholder="Your message here..."></textarea>
                                    <button type="submit" class="btn btn-default">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Area -->
    </div>

    <!-- Start Footer Area -->
    <footer id="footer-area">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copy">Copyright © 2016 Cesar S. and Jorge H</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <style type="text/css">
        body,
        a:hover {
            cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur), progress !important;
        }
    </style>
    <a href="http://www.cursors-4u.com/cursor/2013/02/28/firefly-pointer.html" target="_blank" title="Firefly Pointer"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Firefly Pointer" style="position:absolute; top: 0px; right: 0px;" /></a>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- https://github.com/markgoodyear/scrollup -->
    <script src="js/jquery.singlePageNav.min.js"></script>
    <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script src="js/parallax.js-1.3.1/parallax.js"></script>
    <!-- http://pixelcog.github.io/parallax.js/ -->
    <script>
        // HTML document is loaded. DOM is ready.
        $(function () {

            // Parallax
            $('.intro-section').parallax({
                imageSrc: 'img/bg-1.jpg',
                speed: 0.2
            });
            $('.services-section').parallax({
                imageSrc: 'img/bg-2.jpg',
                speed: 0.2
            });
            $('.contact-section').parallax({
                imageSrc: 'img/bg-3.jpg',
                speed: 0.2
            });

            // jQuery Scroll Up / Back To Top Image
            $.scrollUp({
                scrollName: 'scrollUp', // Element ID
                scrollDistance: 300, // Distance from top/bottom before showing element (px)
                scrollFrom: 'top', // 'top' or 'bottom'
                scrollSpeed: 1000, // Speed back to top (ms)
                easingType: 'linear', // Scroll to top easing (see http://easings.net/)
                animation: 'fade', // Fade, slide, none
                animationSpeed: 300, // Animation speed (ms)		        
                scrollText: '', // Text for element, can contain HTML		        
                scrollImg: true // Set true to use image		        
            });

            // ScrollUp Placement
            $(window).on('scroll', function () {

                // If the height of the document less the height of the document is the same as the
                // distance the window has scrolled from the top...
                if ($(document).height() - $(window).height() === $(window).scrollTop()) {

                    // Adjust the scrollUp image so that it's a few pixels above the footer
                    $('#scrollUp').css('bottom', '80px');

                } else {
                    // Otherwise, leave set it to its default value.
                    $('#scrollUp').css('bottom', '30px');
                }
            });

            $('.single-page-nav').singlePageNav({
                offset: $('.single-page-nav').outerHeight(),
                speed: 1500,
                filter: ':not(.external)',
                updateHash: true
            });

            $('.navbar-toggle').click(function () {
                $('.single-page-nav').toggleClass('show');
            });

            $('.single-page-nav a').click(function () {
                $('.single-page-nav').removeClass('show');
            });

        });
    </script>
</body>